[Desktop Entry]
Name=XuMP
Comment=A third-party Netease Cloud Music player
Exec=xump %U
Terminal=false
Type=Application
Icon=xump
Categories=AudioVideo;Audio;Music;Player;
StartupWMClass=XuMP
